body {
//background: green;
}

.spacer {
    padding: 0px 20px;
}

#log {
    width: 20em;
    height: 14em;
    overflow: auto;
    border: 1px solid black;
}

#gameboard {
    padding: 10px;
    background: #ddd;
}

#gameboard td {
    border: 1em solid white;
    padding: 1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

#gameboard td.open:hover {
    background: #fee;
}
