body {
//background: green;
}

.spacer {
    padding: 0px 20px;
}

#log {
    width: 20em;
    height: 11em;
    overflow: auto;
    border: 1px solid black;
}

#gameboard {
    padding: 10px;
    background: green;
}

#gameboard td {
    border: 1em solid white;
    padding: 1em;

}
